# Paphos Weather

This page shows various metrics for the weather in Paphos, Cyprus.


Weather data is purchased from Openweather Marketplace [here](https://home.openweathermap.org/marketplace/my_orders)


The code below is written by myself, Walker Rowe.

In [371]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
from datetime import datetime

def toDate(str):
    return datetime.strptime(str, '%Y-%m-%d %H:%M:%S %z %Z').date()

def jsonStr(s):
    return round(s['temp'],2)

In [372]:
paphos=pd.read_json('file:///Users/walkerrowe/Documents/paphosWeather.json',lines=True)

In [373]:
paphos['dt_iso']=pd.DataFrame(paphos['dt_iso'].apply(toDate)) 
paphos['temp']=pd.DataFrame(paphos['main'].apply(jsonStr))
paphos['month']=pd.DataFrame(paphos['dt_iso'].apply(lambda x: x.month))

In [374]:
sept=pd.DataFrame([["2020-09-13 23:00:00 +0000 UTC","80.5"],
["2020-09-14 23:00:00 +0000 UTC","79.25"],
["2020-09-15 23:00:00 +0000 UTC","79.58"],
["2020-09-16 23:00:00 +0000 UTC","80.3125"],
["2020-09-17 23:00:00 +0000 UTC","80.917"],
["2020-09-18 23:00:00 +0000 UTC","80.79"],
["2020-09-19 23:00:00 +0000 UTC","79.917"],
["2020-09-20 23:00:00 +0000 UTC","78.085"],
["2020-09-21 23:00:00 +0000 UTC","79.25"],
["2020-09-22 23:00:00 +0000 UTC","78.65"],
["2020-09-23 23:00:00 +0000 UTC","78.02"],
["2020-09-24 23:00:00 +0000 UTC","76.77"],
["2020-09-25 23:00:00 +0000 UTC","78.1"],
["2020-09-26 23:00:00 +0000 UTC","77.3125"],
["2020-09-27 23:00:00 +0000 UTC","77.3125"],
["2020-09-28 23:00:00 +0000 UTC","79.98"]], columns=(['dt_iso','temp']))

In [375]:
sept['dt_iso']=pd.DataFrame(sept['dt_iso'].apply(toDate)) 
sept['month']=pd.DataFrame(sept['dt_iso'].apply(lambda x: x.month))
sept.set_index('dt_iso',inplace=True)

In [376]:
temps=paphos[['temp','month','dt_iso']].groupby('dt_iso').mean()

In [377]:
temps=temps.append(sept)
temps['temp']=temps['temp'].astype(float)

In [387]:
thisYear=temps[date(2020,1,1):date(2020,9,28)]
lastYear=temps[date(2019,1,1):date(2019,9,28)]

In [388]:
Year2020=thisYear.groupby('month').mean()
Year2019=lastYear.groupby('month').mean()

Year2019.join(Year2020, lsuffix='_2019', rsuffix='_2020').round(2)

       temp_2019  temp_2020
month
1          54.96      54.00
2          56.35      54.45
3          57.79      57.53
4          61.83      61.28
5          70.18      70.51
6          76.74      72.94
7          79.92      80.01
8          81.31      80.67
9          77.86      80.20

In [381]:
thisSept=temps[date(2020,9,1):date(2020,9,28)]
lastSept=temps[date(2019,9,1):date(2019,9,28)]

thisSept.to_csv('sept2020.csv')
lastSept.to_csv('sept2019.csv')

In [391]:
Year2020.to_csv('year2020.csv')
Year2019.to_csv('year2019.csv')

In [392]:
paphos.columns

Index(['city_name', 'clouds', 'dt', 'dt_iso', 'lat', 'lon', 'main', 'rain',
       'timezone', 'weather', 'wind', 'temp', 'month'],
      dtype='object')

In [393]:
paphos.head()

,city_name,clouds,dt,dt_iso,lat,lon,main,rain,timezone,weather,wind,temp,month
0,Paphos Castle,{'all': 1},946684800,2000-01-01,34.753637,32.406951,"{'temp_min': 51.8, 'temp': 55.35, 'feels_like'...",NaN,7200,"[{'id': 800, 'icon': '01n', 'description': 'sk...","{'deg': 20, 'speed': 9.17}",55.35,1
1,Paphos Castle,{'all': 15},946688400,2000-01-01,34.753637,32.406951,"{'temp_min': 51.8, 'temp': 55.38, 'feels_like'...",NaN,7200,"[{'id': 801, 'icon': '02n', 'description': 'fe...","{'deg': 20, 'speed': 8.05}",55.38,1
2,Paphos Castle,{'all': 30},946692000,2000-01-01,34.753637,32.406951,"{'temp_min': 51.8, 'temp': 55.67, 'feels_like'...",NaN,7200,"[{'id': 802, 'icon': '03n', 'description': 'sc...","{'deg': 20, 'speed': 8.05}",55.67,1
3,Paphos Castle,{'all': 1},946695600,2000-01-01,34.753637,32.406951,"{'temp_min': 48.92, 'temp': 54.09, 'feels_like...",NaN,7200,"[{'id': 800, 'icon': '01n', 'description': 'sk...","{'deg': 20, 'speed': 8.05}",54.09,1
4,Paphos Castle,{'all': 14},946699200,2000-01-01,34.753637,32.406951,"{'temp_min': 48.2, 'temp': 54.39, 'feels_like'...",NaN,7200,"[{'id': 801, 'icon': '02n', 'description': 'fe...","{'deg': 20, 'speed': 8.05}",54.39,1