In [312]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
from datetime import datetime

def toDate(str):
    return datetime.strptime(str, '%Y-%m-%d %H:%M:%S %z %Z').date()

def jsonStr(s):
    return round(s['temp'],2)

In [313]:
paphos=pd.read_json('file:///Users/walkerrowe/Documents/paphosWeather.json',lines=True)

In [314]:
paphos['dt_iso']=pd.DataFrame(paphos['dt_iso'].apply(toDate)) 
paphos['temp']=pd.DataFrame(paphos['main'].apply(jsonStr))
paphos['month']=pd.DataFrame(paphos['dt_iso'].apply(lambda x: x.month))

In [315]:
sept=pd.DataFrame([["2020-09-13 23:00:00 +0000 UTC","80.5"],
["2020-09-14 23:00:00 +0000 UTC","79.25"],
["2020-09-15 23:00:00 +0000 UTC","79.58"],
["2020-09-16 23:00:00 +0000 UTC","80.3125"],
["2020-09-17 23:00:00 +0000 UTC","80.917"],
["2020-09-18 23:00:00 +0000 UTC","80.79"],
["2020-09-19 23:00:00 +0000 UTC","79.917"],
["2020-09-20 23:00:00 +0000 UTC","78.085"],
["2020-09-21 23:00:00 +0000 UTC","79.25"],
["2020-09-22 23:00:00 +0000 UTC","78.65"],
["2020-09-23 23:00:00 +0000 UTC","78.02"],
["2020-09-24 23:00:00 +0000 UTC","76.77"],
["2020-09-25 23:00:00 +0000 UTC","78.1"],
["2020-09-26 23:00:00 +0000 UTC","77.3125"],
["2020-09-27 23:00:00 +0000 UTC","77.3125"],
["2020-09-28 23:00:00 +0000 UTC","79.98"]], columns=(['dt_iso','temp']))

In [316]:
sept['dt_iso']=pd.DataFrame(sept['dt_iso'].apply(toDate)) 
sept['month']=pd.DataFrame(sept['dt_iso'].apply(lambda x: x.month))
sept.set_index('dt_iso',inplace=True)

In [360]:
temps=paphos[['temp','month','dt_iso']].groupby('dt_iso').mean()

In [361]:
temps=temps.append(sept)
temps['temp']=temps['temp'].astype(float)

In [362]:
thisSummer=temps[date(2020,5,1):date(2020,9,28)]
lastSummer=temps[date(2019,5,1):date(2019,9,28)]

In [363]:
temps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7577 entries, 2000-01-01 to 2020-09-28
Data columns (total 2 columns):
temp     7577 non-null float64
month    7577 non-null int64
dtypes: float64(1), int64(1)
memory usage: 497.6+ KB

In [339]:
year2019=thisSummer.mean()
year2020=lastSummer.mean()

In [364]:
Summer2019=thisSummer.groupby('month').mean()
Summer2020=lastSummer.groupby('month').mean()

Summer2019.join(Summer2020, lsuffix='_2019', rsuffix='_2020').round(2)

       temp_2019  temp_2020
month
5          70.51      70.18
6          72.94      76.74
7          80.01      79.92
8          80.67      81.31
9          80.20      77.86

In [366]:
thisSept=temps[date(2020,9,1):date(2020,9,28)]
lastSept=temps[date(2019,9,1):date(2019,9,28)]

thisSept.to_csv('sept2020.csv')
lastSept.to_csv('sept2019.csv')