<a href="https://colab.research.google.com/github/Annepikson/HypatiaAcademy/blob/master/30_4_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

data = {
    'Name':['Emily','Eva','Bob','Steve'],
    'Age':[20,19,23,24],
    'Hobby':['Tennis','Swimming','Football','Hockey']
}

df = pd.DataFrame(data)
df['Age'] = df['Age'].apply(lambda x : x * 2)
print(df)

    Name  Age     Hobby
0  Emily   40    Tennis
1    Eva   38  Swimming
2    Bob   46  Football
3  Steve   48    Hockey