In [31]:
 superset={1,2,3,3,4}

In [29]:
 s

{1, 2, 3, 4}

In [30]:
subset={1,2,3}

In [32]:
1 in subset

True

In [33]:
subset.intersection(superset)

{1, 2, 3}

In [34]:
 superset.issuperset(subset)

True

In [35]:
 superset.difference(subset)

{4}

In [36]:
 superset.add(7)

In [37]:
superset

{1, 2, 3, 4, 7}

In [38]:
t=(1,2,3,4,5,6,7,8,9)

This is called a **slice**.

In [39]:

t[0:4]

(1, 2, 3, 4)

You cannot update it since it is immutable.  So this is invalid:

In [40]:
t[0]=9

TypeError: 'tuple' object does not support item assignment

Point here is you cannot change a tuple, but you can make a new one.  

For example, in Python there is a dataframes and Numpy arrays.  I regular python an array like:

arr=[1,2,3,4,5]

You can change arr[0] to be 1 in place.

You cannot change t(0) in place.

In [45]:
t2=(11,12)

t3 = t  + t2

In [46]:
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12)

So you can't do this kind of in-place operations in Python on tuples.  But you can on arrays.

In [47]:
arr=[1,2,3,4,5]
arr[0]=9
print(arr)

[9, 2, 3, 4, 5]