```sql
CREATE TABLE customers
  ( 
     customernumber     varchar(100) PRIMARY KEY, 
    customername varchar(50),
    phonenumber varchar(50),
    postalcode varchar(50),
    locale varchar(10),
    datecreated date,
    email varchar(50)
  );
``'

```sql
CREATE TABLE orders
  ( 
     customernumber    varchar(100) ,  variable length character
                                         maximum length is 100
      
    ordernumber varchar(100) PRIMARY KEY,   has to be unique means 
                                            no two order numbers can be the same
    comments varchar(200),
    orderdate date,          its a number, it can be converted into yy-mm-dd etc.
    ordertype varchar(10),
    shipdate date,
discount float,      real number 
quantity int,          integer
    productnumber varchar(50)
);
    ```

insert into orders ('948','889','bbmwcaxgix','2020-10-08','sale','2020-10-22','0.9999833006657076','74','CC222');

In [ ]:
sqlString = "insert into orders (customernumber,ordernumber,comments,orderdate,ordertype,shipdate,discount,quantity,productnumber) values "

948 is a number so it does not need quote marks around it

# how to format this to 2 decimal points
    
    0.9999833006657076

In [26]:
str='0.9999833006657076'

arr=str.split(".")

In [15]:
print(arr[0])
print(arr[1])

0
9999833006657076

how do I print the first element in arr?
arr[array index]


₺120,99

so take a slice of a string using [start:end-1]

In [ ]:
money = "₺" + arr[0] + ',' + arr[1][0:2]

In [ ]:
money

another way to do this is with the format function

In [ ]:
money="₺{0},{1}".format(arr[0],arr[1][0:2])
print(money)

**exercise**:  format this using the slice operator [start:end] into 22-10-2020


dt='2020-10-22'

In [18]:
print(arr[1])

arr[1].isdecimal()

9999833006657076

True

In [19]:
arr

['0', '9999833006657076']

the join function joins all the items in an iterable to a string

a list is iterable
because you can do this operation:

for i in the list


"the string".join(the list) then we get:

 list element 1 +  "the string" + list element 2

In [23]:
"₺" + ",".join(arr)

'₺0,9999833006657076'

**exercise 1**: format this using the slice operator [start:end] into 22-10-2020
using the + operator, like "a" + "b" = "ab"
dt='2020-10-22'


do this using the format statement.  here use the {} {}".format(x,y)



using the join operator (here you need to put the year, month, and date into an array)