<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/classnotes%5C2may2023lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#im going to make 4 characters..
l = ["23", "12", "14", "33"]

In [2]:
#Im going to print the 3rd character in the array ( 14 )
l[2]

'14'

In [3]:
#Now i will print all characters in the list.
l

['23', '12', '14', '33']

In [5]:
'''
in programming you usually start with 0

l = ["23", "12", "14", "33"]



'''

l[0]

'23'

In [15]:
print("the length of the array l is", len(l))

'''
type

booleans.   True, False
array    a list. of things in []
dictionary.     {"some key":  "some value"}

float?  1.23.   Decimal

string?  it's just a letter



l is the whole array

any item in the array you find by it's index

'''



for i in range(len(l)):
  print(i, l[i])

the length of the array l is 4
0 23
1 12
2 14
3 33

In [21]:
# do something 4 times

print("the whole l ", l)

for i in range(4):
  print("the index is ", i, "the item at that position is array[index] ", l[i])

the whole l  ['23', '12', '14', '33']
the index is  0 the item at that position is array[index]  23
the index is  1 the item at that position is array[index]  12
the index is  2 the item at that position is array[index]  14
the index is  3 the item at that position is array[index]  33

In [28]:
# range(4). is the same as range(start=0,stop=4,step=1)

for i in range(0,4,1):
    print(i)

print("it's the same")
for i in range(4):
    print(i)

#now I want to go backwards

start=4
stop=0
step=-1

for i in range(4,0,-1):
    print(i)

0
1
2
3
0
1
2
3

In [34]:
fourth=3

third=2
print(l)
print(l[fourth])
print(l[third])


going forward we print items 0, 1, 2, 3,

going backwards we print (3, 2, 1, 0)

for i range(start where?, end where?  , go is which direction?)

1,2,3,4,5,6

step=1
step=-1

6,5,4,3,2,1

['23', '12', '14', '33']
33
14

In [44]:
l=[1,2,3,4,5,6,7,8,9,10]

# for i in range(start=0,end=11,step=2):

# range means this:

 


#. the stop is consuming because it really means stop +1 

# because the last item in l now l[9]

for i in range(0,10,2):
  print("index=", i, " item in the list l at that position is ", l[i])

index= 0  item in the list l at that position is  1
index= 2  item in the list l at that position is  3
index= 4  item in the list l at that position is  5
index= 6  item in the list l at that position is  7
index= 8  item in the list l at that position is  9

In [ ]:
'''

homework:

1.  make a list of 33 items.  print every 3rd item

hint:  range(stop,start,step)

range(0,34,1)



2.  the print same list backwards


2.  hint:  start at the end.  go backwards (step = -1).  stop at 0




'''

In [42]:
len(l)

11