In [6]:
sport = ['tenis', 'rubi', 'basket', 'football' ,100, 50.35, 'vole'] 
print(sport[0])

print("===============")

print(sport[5])

print(sport)

sport[4] = 'danse'
print(sport)

print("\n before delete ", sport)
del(sport[4])
print("\n after delete ",sport)


sport.append('samedi')
print("\n \n \ n" ,  sport)



peter1 = [31,28,31,30,31,30,31,31,30,31,30,31]
peter2 = ['janvier', 'fevrier', 'mars', 'avril', 'mai', 'juin', 'juiellet', 'aout', 'septembre','octobre', 'novembre','decembre']

tenis
===============
50.35
['tenis', 'rubi', 'basket', 'football', 100, 50.35, 'vole']
['tenis', 'rubi', 'basket', 'football', 'danse', 50.35, 'vole']

 before delete  ['tenis', 'rubi', 'basket', 'football', 'danse', 50.35, 'vole']

 after delete  ['tenis', 'rubi', 'basket', 'football', 50.35, 'vole']


 \ n ['tenis', 'rubi', 'basket', 'football', 50.35, 'vole', 'samedi']

"\npeter1.apend('\n            32', '5', '12', '8', '3', '75', '2', '15')\nprint(peter1)'\n"

In [4]:
print("this is a string Pete" , ["a", "b", "c"])

this is a string Pete ['a', 'b', 'c']

In [5]:
type(["a", "b", "c"])

list

In [7]:
"\n" == "\ n"

False

In [14]:
 
peter1.append('32')
#peter1.append('5', '12', '8', '3', '75', '2', '15')
print(peter1)

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31, '32', '5', '32']

In [15]:
len(peter1)

15

In [23]:
for i in range(len(sport)):
    print("i=", i, " value=", peter1[i])

i= 0  value= 31
i= 1  value= 28
i= 2  value= 31
i= 3  value= 30
i= 4  value= 31
i= 5  value= 30
i= 6  value= 31

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for x in sport:
    print(x)

tenis
rubi
basket
football
50.35
vole
samedi

In [21]:
peter1

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31, '32', '5', '32']

In [40]:

for i in range(0,10,3):
    print(i)

0
3
6
9

In [38]:
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
'''
range(start,end,step)

start=commence
end=le fin
step=combiens de choses a la fois
'''

In [41]:
a=[1,2]
b=[3,4]
c=[5,6]

d=[a,b,c]
print(d)

[[1, 2], [3, 4], [5, 6]]

In [45]:
'''si tu veux voire le 2e chose dedans la 2e list comment faire'''

print("2e element dans le list d=", d[1])
print("2e element dans le 2e list b=", d[1][1])

2e element dans le list d= [3, 4]
2e element dans le 2e list b= 4

In [49]:
'''dictionaries

c'est comment un liste sauf chaque element avoir un nombe

'''

d={
    "student": "peter",
    "ville": "Peyia",
    "age": 15
    
}

print(d)

{'student': 'peter', 'ville': 'Peyia', 'age': 15}

In [51]:
d['ville']

'Peyia'

In [54]:
peter={
    "student": "peter",
    "ville": "Peyia",
    "age": 15
    
}

walker={
    "student": "walker",
    "ville": "Peyia",
    "age": 61
    
}

cp=[peter,walker]

In [56]:
print(cp[1])

{'student': 'walker', 'ville': 'Peyia', 'age': 61}

In [57]:
print(cp[1]['student'])

walker

In [59]:
walker.keys()

dict_keys(['student', 'ville', 'age'])

In [60]:
walker['age']

61

In [61]:
walker.values()

dict_values(['walker', 'Peyia', 61])

In [62]:
peter.keys()

dict_keys(['student', 'ville', 'age'])