In [1]:
arr = ['strings', 1, 2, 4, 5]

In [2]:
arr[4]

5

In [3]:
for i in arr:
    print(i)

strings
1
2
4
5

In [4]:
[i for i in arr]

['strings', 1, 2, 4, 5]

In [5]:
z=[i for i in arr]

In [6]:
arr = [0, 1, 2, 4, 5]

List Comprehension

[function(some value) for somevalue in some list]

[nomonas**2 for nomonas in arr]

In [7]:
lc = [i**2 for i in arr]
print(lc)

[0, 1, 4, 16, 25]

In [8]:
for i in range(len(arr)):
    print(arr[i], end=",")

0,1,2,4,5,

In [22]:
for nomonas in range(10,15,2):
    print(nomonas)

10
12
14

In [24]:
arr.append(6)

In [25]:
arr

[0, 1, 2, 4, 5, 6]

dictionary

In [31]:
d = {'name': 'Walker', 'age': 60}
e = {'tp': 'fish', 'color':'blue'}


a = [e,d]

In [32]:
a

[{'color': 'blue', 'tp': 'fish'}, {'age': 60, 'name': 'Walker'}]

In [33]:
d.keys()

dict_keys(['age', 'name'])

In [34]:
d.values()

dict_values([60, 'Walker'])

In [50]:
class Nomonas:
    name='nomonas'
    
    
nomonas=Nomonas() 

print(nomonas)

<__main__.Nomonas object at 0x110fc3860>

In [51]:
type(nomonas)

__main__.Nomonas

In [52]:
nomonas.name

'nomonas'

In [53]:
arr=[nomonas]

In [54]:
arr

In [55]:
arr[0]

In [56]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
arr.pop(2)
print(arr)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [59]:
arr.insert(2,3)
print(arr)

[1, 2, 3, 4, 2, 5, 6, 7, 8, 9, 10]