In [47]:
import pandas as pd
import numpy as np

iq=np.array([104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,102.8,102.8,102.8,102.4,102.3,101.9,101.9,101.8,101.7,101.6,101.5,101.4,101.2,101.1,101,100.7,100.5,100.4,100.2,100,99.9,99.7,99.5,99.4,99.3,99,98.7,98.4,98.4,98,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2])
vaccinations=np.array([72.3,64.3,45.1,75.3,58.5,63.3,49,52.9,69.4,55.3,52.7,65.4,52.3,41.2,53.4,61.2,63.6,49.5,46.8,59.9,65,40.8,60.3,51.5,48,62.6,52.8,60.2,50.7,50.9,61.8,64.2,66.7,51.5,47.2,51.2,45.9,56.9,46.2,45.1,44.2,45.7,52.6,53,42.3,64.9,71.1,64.2,41.3,38.6])

pd.DataFrame([np.arange(50),iq,vaccinations])

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

In [89]:
df=pd.DataFrame([np.array([iq,vaccinations])[1:],np.array([iq,vaccinations])[:2]])
df

                                                   0
0  [[72.3, 64.3, 45.1, 75.3, 58.5, 63.3, 49.0, 52...
1  [[104.3, 104.2, 103.8, 103.8, 103.7, 103.4, 10...

In [84]:
df=pd.DataFrame(np.array([iq,vaccinations]).reshape(50,2),columns=â€œ)
df

        0      1
0   104.3  104.2
1   103.8  103.8
2   103.7  103.4
3   103.4  103.2
4   103.1  102.9
5   102.8  102.8
6   102.8  102.4
7   102.3  101.9
8   101.9  101.8
9   101.7  101.6
10  101.5  101.4
11  101.2  101.1
12  101.0  100.7
13  100.5  100.4
14  100.2  100.0
15   99.9   99.7
16   99.5   99.4
17   99.3   99.0
18   98.7   98.4
19   98.4   98.0
20   97.7   97.5
21   97.4   96.5
22   95.7   95.7
23   95.6   95.5
24   95.3   94.2
25   72.3   64.3
26   45.1   75.3
27   58.5   63.3
28   49.0   52.9
29   69.4   55.3
30   52.7   65.4
31   52.3   41.2
32   53.4   61.2
33   63.6   49.5
34   46.8   59.9
35   65.0   40.8
36   60.3   51.5
37   48.0   62.6
38   52.8   60.2
39   50.7   50.9
40   61.8   64.2
41   66.7   51.5
42   47.2   51.2
43   45.9   56.9
44   46.2   45.1
45   44.2   45.7
46   52.6   53.0
47   42.3   64.9
48   71.1   64.2
49   41.3   38.6

In [80]:
pd.DataFrame(iq,vaccinations,columns=['iq'],index=['vacrate'])

TypeError: __init__() got multiple values for argument 'index'

In [46]:
pd.DataFrame(data=[iq,vaccinations],index=None)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
1,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

In [39]:

df=pd.DataFrame([np.arange(50),iq,vaccinations])
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

In [36]:
 pd.DataFrame(iq,vaccinations,columns=['iq'])

         iq
72.3  104.3
64.3  104.2
45.1  103.8
75.3  103.8
58.5  103.7
63.3  103.4
49.0  103.4
52.9  103.2
69.4  103.1
55.3  102.9
52.7  102.8
65.4  102.8
52.3  102.8
41.2  102.4
53.4  102.3
61.2  101.9
63.6  101.9
49.5  101.8
46.8  101.7
59.9  101.6
65.0  101.5
40.8  101.4
60.3  101.2
51.5  101.1
48.0  101.0
62.6  100.7
52.8  100.5
60.2  100.4
50.7  100.2
50.9  100.0
61.8   99.9
64.2   99.7
66.7   99.5
51.5   99.4
47.2   99.3
51.2   99.0
45.9   98.7
56.9   98.4
46.2   98.4
45.1   98.0
44.2   97.7
45.7   97.5
52.6   97.4
53.0   96.5
42.3   95.7
64.9   95.7
71.1   95.6
64.2   95.5
41.3   95.3
38.6   94.2

In [54]:
df=pd.DataFrame([np.arange(50),iq,vaccinations])
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

In [58]:
df=pd.DataFrame([['Walker', 60], 
                  ['Michael', 15], 
                  ['Nomonas', 15]])
                 
df

         0   1
0   Walker  60
1  Michael  15
2  Nomonas  15

In [65]:
np.array([['Walker', 60], 
                  ['Michael', 15], 
                  ['Nomonas', 15]]).shape

(3, 2)

In [60]:
df=pd.DataFrame([['Walker', 60], 
                  ['Michael', 15], 
                  ['Nomonas', 15]],columns=['name','age'],index=['a','b','c'])
                 
df

      name  age
a   Walker   60
b  Michael   15
c  Nomonas   15

In [66]:
np.array([iq,vaccinations]).shape

(2, 50)

Homework:  make this table pivot

In [68]:
df=pd.DataFrame([iq,vaccinations],index=[1,2])
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

Here is incorrect way to do that.  Using https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html

In [71]:
df=pd.DataFrame([np.arange(50),iq,vaccinations])
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6

In [61]:
df=pd.DataFrame([np.arange(50),iq,vaccinations])
x=df.reindex(index=np.arange(50))
x

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
1,104.3,104.2,103.8,103.8,103.7,103.4,103.4,103.2,103.1,102.9,...,97.7,97.5,97.4,96.5,95.7,95.7,95.6,95.5,95.3,94.2
2,72.3,64.3,45.1,75.3,58.5,63.3,49.0,52.9,69.4,55.3,...,44.2,45.7,52.6,53.0,42.3,64.9,71.1,64.2,41.3,38.6
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [73]:
numpy_data = np.array([[1, 2], 
                      [3, 4]])
df = pd.DataFrame(data=numpy_data, index=["row1", "row2"], columns=["column1", "column2"])
df

      column1  column2
row1        1        2
row2        3        4