<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/15_05_2023%2C_add_trans_to_bank_account.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import datetime

class Transaction:

   def __init__ (self, date, amount):
      self.date=date
      self.amount=amount


class BankAccount:

  transactions = []
  def __init__ (self, account_number, balance, owners_name):
    self.account_number = account_number
    self.balance = balance
    self.owner_name = owners_name

  def addTrans(self, date, amount):
    transaction = Transaction(date, amount)
    self.transactions.append(transaction)

Jenny_s_account = BankAccount(104738945, 45000.34, "Jenny")

print("Your bank account number is: ", Jenny_s_account.account_number)
print("Balance on your account is: ", Jenny_s_account.balance)
print("Hello,", Jenny_s_account.owner_name, "welcome to your Bank account page")


Jenny_s_account.addTrans(datetime.datetime.now(), 100)
print("transaction date ", Jenny_s_account.transactions[0].date)
print("transaction amount ",Jenny_s_account.transactions[0].amount)

Your bank account number is:  104738945
Balance on your account is:  45000.34
Hello, Jenny welcome to your Bank account page
transaction date  2023-06-15 09:40:54.475358
transaction amount  100

datetime.datetime(2023, 6, 15, 9, 38, 20, 577702)

100