<a href="https://colab.research.google.com/github/Annepikson/HypatiaAcademy/blob/master/class/2024_09_06_tic_tac_toe_finish_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First part**

In [2]:
l = [1, 2]

# swap means change order.  so how can I make [ 2, 1]

print(l[0])
print(l[1])



# in three steps.  normal.  python lets you do two assignment in one step.
# that looks strange, because other programming language don't allow that

temporary=l[0]  # the 1 is here.  temporary spot
l[0]=l[1]

l[1]=temporary

l

1
2

[2, 1]

In [3]:
l = [1, 2]

l[0] , l[1] = l[1], l[0]

l

[2, 1]

In [4]:
3*2

6

In [5]:
for i in range(10):
  swap = [[i[1],i[0]] for i in x]
swap

NameError: name 'x' is not defined

# **Third part**

In [6]:
stack=[0,1,2,3,4,5,6,7,8,9]
i = 0
while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

0 [1, 2, 3, 4, 5, 6, 7, 8, 9]
1 [2, 3, 4, 5, 6, 7, 8, 9]
2 [3, 4, 5, 6, 7, 8, 9]
3 [4, 5, 6, 7, 8, 9]
4 [5, 6, 7, 8, 9]
5 [6, 7, 8, 9]
6 [7, 8, 9]
7 [8, 9]
8 [9]
9 []

In [7]:
# write a list comprehension to multiple every item in a list by 2


l = [1,2,3,4]

# [expression for item in iterable if condition]


# expression, means do something
# for item:  fred, i
# iterable: basically means something you can count, a list is an iterable


n = []

n.append(1)

n.append(1*2)

n.append(1*3)

print(n)

# a more compact one is to do one line of code

[i ** 2 for i in l]

[1, 2, 3]

[1, 4, 9, 16]

In [8]:
t = [
      [None, None, None],
      [None, None, None],
      [None, None, None]
]

t[0][0]='x'

t

[['x', None, None], [None, None, None], [None, None, None]]

In [9]:
t = [
      ['o','x', 'o'],
      ['o','x', 'o'],
      ['o','x', 'o']
]

t

[['o', 'x', 'o'], ['o', 'x', 'o'], ['o', 'x', 'o']]

In [10]:
t[0]

['o', 'x', 'o']

In [11]:
t[0][0]

'o'

In [12]:
# tests for equality
==

# assignment operator
=

SyntaxError: invalid syntax (<ipython-input-12-90fdade6d0b9>, line 2)

In [ ]:
t = [
      ['o','x', 'o'],
      ['o','x', 'o'],
      ['o','x', 'o']
]

In [ ]:
t = [
      ['a','x', 'o'],
      ['o','a', 'o'],
      ['o','x', 'a']
]

In [ ]:
# is t a winner


# diagonal


t[0][0] == t[1][1] == t[2][2]

In [ ]:
# how can I check the first column

row=0
column=0

t[row][column] == t[row + 1 ][column]  == t[row + 2 ][column]

In [ ]:
t[0][0] == t[1][1] == t[2][2]

In [ ]:
for i in t:
  print(i)

In [ ]:
# index means position

t[0][0]

t[[0]]

In [ ]:
t[0][0]='o'

In [13]:
# first column

t[0][0] == t[1][0] == t[2][0]

True

In [14]:
n = [
      [1,2, 3],
      [4,5, 6],
      [7,8, 9]
]

In [15]:
n[0][0]

1

In [16]:
# column means up and down, vertical

# row means across, horizontal

n[column][row]


n[0][1]

2

In [17]:
n

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
# how do I check all values in the second column

import random

row = 0
column = 0    # < ----- spelling mistake

for r in range(3):  #"rows". this create a row object called r
  for c in range(3):  #"columns"
   print("debug me row=", row, "column=", column)
   n[row][column] = random.randint(0,1)
   column = column + 1    #<-------assign value
  print("\n")

  row = row + 1
  column = 0

n

debug me row= 0 column= 0
debug me row= 0 column= 1
debug me row= 0 column= 2


debug me row= 1 column= 0
debug me row= 1 column= 1
debug me row= 1 column= 2


debug me row= 2 column= 0
debug me row= 2 column= 1
debug me row= 2 column= 2

[[1, 1, 1], [1, 0, 0], [0, 1, 0]]

In [19]:
for i in n:
  print(i)

[1, 1, 1]
[1, 0, 0]
[0, 1, 0]

In [20]:
row=1
column=0

n[row][column]="y"

for r in n:
  print(r)

[1, 1, 1]
['y', 0, 0]
[0, 1, 0]

In [21]:


z =  [

     ["r0c0", "r0c1", "r0c2"],
     ["r1c0", "r1c1", "r1c2"]  ,
     ["r2c0", "r2c1", "r2c2"]

]


row=1
column=2

z[row][column]

'r1c2'

In [22]:
l=[1,2,3]

l[2]

3

#Homework

Fix this.

In [23]:
    # fill board with random values of x or o
    for column in range(3):
        for row in range(3):
            t[row][column] = random.randint(0,1) == 0

In [28]:
import random

# Initialize a 3x3 board
t = [['' for _ in range(3)] for _ in range(3)]

# Fill the board with random 'x' or 'o'
for column in range(3):
    for row in range(3):
        t[row][column] = 'x' if random.randint(0, 1) == 0 else 'o'

# Print the board to check the result
for row in t:
    print(row)

['o', 'o', 'x']
['o', 'o', 'o']
['x', 'x', 'x']

# Game

GO until you have a winner

In [24]:



isWinner = False # start game, no one is winner

while not isWinner:

    print("user picked")
    if random.randint(0,1) == 1:   # put an x or an o
      isWinner = True


print("done, game over")

user picked
done, game over

In [25]:
while not isWinner:

    print("user picked")
    if random.randint(0,1) == some function that takes 0 or 1 and changes it to o or x:   # put an x or an o
      isWinner = True


print("done, game over")

SyntaxError: invalid syntax (<ipython-input-25-ec96b0895080>, line 4)

In [ ]:
cell=""

if random.randint(0,1) == 0:
  cell = "o"
else:
  cell = "x"

cell

In [ ]:
n

In [ ]:
n[0]

In [ ]:
for row in

In [ ]:
for a in t:
  print(a)

In [ ]:
t[0][0]

In [ ]:
t[0][0] = 'x'

t

# **Fourth part**