<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/30_june_2023_regular_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import re

txt = "Tamara123"

# the star * (called a wildcard) means any character , the dot . means any number of times
x = re.search("^Tamara*.", txt)

#Match Tamara or Camara

# [] is called a character class, it means match any characters inside []

x = re.search("[TC]amara*.", txt)




print(x)

<re.Match object; span=(0, 7), match='Tamara1'>

In [9]:
# here is now to match any number

# we can do it two ways

# strict equality

["1234"=='1234']


txt = "1234"

# the star * means any character , the dot . means any number of times

# this shows how to match numbers three ways:

# 1. anything from 0 to 9

# 2. any of the listed digits

# 3.  the \d means digit and the dot many any number of times


x = re.search("[0-9]", txt)

x = re.match("[0134256789]", txt)

x = re.search("\d.", txt)



print(x)

<re.Match object; span=(0, 2), match='12'>

Regular expression cheat sheet https://www.datacamp.com/cheat-sheet/regular-expresso

In [11]:
txt="Lika Danylo"

# match on a single space

# this matched 'Lika' (space). 'Danyko'
x = re.match("Lika\sDanylo", txt)

x = re.match("\S.", txt)

print(x)

<re.Match object; span=(0, 2), match='Li'>

Regular expression tester https://regex101.com/

In [ ]:
'''

Homework.

Write a regular expression to match:

1.  Paphos, Cyprus
2.  PaphosCyprus
3.  Kiev
4.  Kiev123

'''




'''