<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/6_june_2023_review_variable_arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(x,y):
   
   return x+y


add(2,3)

5

In [2]:
def multiply(x,y):

    return x*y

multiply(2,3)

6

In [4]:
def multiply(*numbers):

# pick 1 because all numbers multiplied by 1 don't change
# when you do loops you often start with 0.
# but we don't want zero as you will see below

  product = 1

  for number in numbers:
    product = product * number

  return product


multiply(2,3,4)


'''

product = 1

product = 1 * 2 = 2

product = 2* 3 = 6

product = 6 * 4



'''

24

In [ ]:
def add(*numbers):

  sum = 0 # initialize the starting sum to 0
  
  for number in numbers:
    sum = sum + number

  return sum



add(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:

# homework



def studentAdder(*students):

#      make a an empty list using [].   l=[]

#      then loop through the students.  (for i in xxxx)

#      add each to the list using append().  l.append(xxxx)

#      return the list




print(studentAdder("sofia", "walker", "ilya", "artur"))

Read how to define a function that has a variable number of algorithms. https://github.com/werowe/HypatiaAcademy/blob/master/classNotes/functions-with-a-variable-number-of-arguments.ipynb 

Homework:

1. write a function to make a list of people. So if you give the function Walker, Joaquim, Ilias it should return the list [Walker, Joaquim, Ilias]. It should also working with 5 people or 6 people or any number of people. 


Hint: use [] to create an array and append() to add students to the array. Loop through the parameters using for I in *students where *students is the parameter name in your function .