<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/9_may_2020_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''
initialize means to create something empty

'''

students= []
print(students)
type(students)

[]

list

In [21]:
from os.path import samestat
'''
a dictionary key-values or attributes
'''

same = {}

fred = {
      "name": "fred",
    "age": 16,
    "isMale": True,
    "isFemale": False,
    "city": "Nicosia"

}

lika = {
      "name": "lika",
    "age": 16,
    "isMale": False,
    "isFemale": True,
    "city": "Tbilisi"

}

walker = {
      "name": "Walker",
    "age": 62,
    "isMale": True,
    "isFemale": False,
    "city": "Peyia"

}

print(fred)

{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}

In [10]:
fred.keys()

dict_keys(['name', 'age', 'isMale', 'isFemale', 'city'])

In [29]:

students=[] #. make it empty
students.append(fred)
students.append(lika)
students.append(walker)
print(students)

[{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}, {'name': 'lika', 'age': 16, 'isMale': False, 'isFemale': True, 'city': 'Tbilisi'}, {'name': 'Walker', 'age': 62, 'isMale': True, 'isFemale': False, 'city': 'Peyia'}]

In [30]:
 
len(students)

3

In [25]:
# loop through list

for s in students:
  print(s)


for silly in students:   # <---create a variable silly for the loop
  print(silly)



'''
for s in range(len(students) -1):
  print(s)  

'''

{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}
{'name': 'lika', 'age': 16, 'isMale': False, 'isFemale': True, 'city': 'Tbilisi'}
{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}
{'name': 'lika', 'age': 16, 'isMale': False, 'isFemale': True, 'city': 'Tbilisi'}
{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}
{'name': 'lika', 'age': 16, 'isMale': False, 'isFemale': True, 'city': 'Tbilisi'}
{'name': 'Walker', 'age': 62, 'isMale': True, 'isFemale': False, 'city': 'Peyia'}

'\nfor s in range(len(students) -1):\n  print(s)  \n\n'

In [15]:
for key, value in fred.items():
  print("the key is ", key, " the value is ", value)

the key is  name  the value is  fred
the key is  age  the value is  16
the key is  isMale  the value is  True
the key is  isFemale  the value is  False
the key is  city  the value is  Nicosia

In [42]:
print(students[0])


# this prints all keys, don't hard-code any of them

for key, value in students[0].items():  

  print("the key is ", key, " the value is ", value)

print(students[0].keys())
print(students[0]['age'])  # <---hard codes the key age

print(students[0])

{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}
the key is  name  the value is  fred
the key is  age  the value is  16
the key is  isMale  the value is  True
the key is  isFemale  the value is  False
the key is  city  the value is  Nicosia
dict_keys(['name', 'age', 'isMale', 'isFemale', 'city'])
16
{'name': 'fred', 'age': 16, 'isMale': True, 'isFemale': False, 'city': 'Nicosia'}

In [47]:
'''

this is a loop inside a loop

the outside loop says prints students

each subject is a dictionary object

then we say print the keys and values from the dictionary

'''

for ilias in students:
  print("-----------here is the student---------------")
  for key, value in ilias.items():  
     print(key, value)

-----------here is the student---------------
name fred
age 16
isMale True
isFemale False
city Nicosia
-----------here is the student---------------
name lika
age 16
isMale False
isFemale True
city Tbilisi
-----------here is the student---------------
name Walker
age 62
isMale True
isFemale False
city Peyia



Homework:

make a list with 4 things in it

each thing can be for example, car


print it