In [51]:

#The data is here.  Use this to copy it to google colab

#!wget https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/class/seaTemperature.csv



import re

file = open('/Users/walkerrowe/Documents/hypatia/sea/seaTemperature.csv')


# sections
s=[]

# one section

readings=[]
reading=[]

lines=file.readlines()

# the goal here is to to add each line to the line r

# so we read the first like which says '#-----' and keep reading until we see #-----'
# again
# we add each line that w read to r using r.append(stl(count))
# here add r to s using s.append(r)
# then 
# erase r by writing r=[]

count = 0
start=False
 
for l in lines:
    
    x = re.search("#--.", l)
  
    if x and not start:
        start=True
    else:
        # when hit next line add array to readings then erase array for the next section
        if x:
            # we hit another hash tag so add array reading to readings
            # then erase array reading
            readings.append(reading)
            reading=[]
            
          
    # keep adding lines to r until you hit another so
    
    # add line
    if not re.search("#--.", l):
        reading.append(l.split(","))

In [52]:
len(readings)

24

In [53]:
readings[len(readings)-1]

[['CAST                        ',
  '',
  '       11764770',
  'WOD Unique Cast Number',
  'WOD code',
  '\n'],
 ['NODC Cruise ID              ', '', 'IL-226         ', '', '', '\n'],
 ['Originators Station ID      ',
  '',
  '             63',
  '',
  '',
  'integer',
  '\n'],
 ['Originators Cruise ID       ', '', '               ', '', '', '\n'],
 ['Latitude                    ',
  '',
  '           33.0',
  'decimal degrees',
  '',
  '\n'],
 ['Longitude                   ',
  '',
  '        34.5000',
  'decimal degrees',
  '',
  '\n'],
 ['Year                        ', '', '           1990', '', '', '\n'],
 ['Month                       ', '', '              8', '', '', '\n'],
 ['Day                         ', '', '              1', '', '', '\n'],
 ['Time                        ',
  '',
  '           4.38',
  'decimal hours (UT)',
  '',
  '\n'],
 ['METADATA', '\n'],
 ['Country                     ',
  '',
  '             IL',
  'NODC code',
  'ISRAEL\n'],
 ['Accession Number            ',
  '',
  '           996.',
  'NODC code',
  '',
  '\n'],
 ['Platform                    ',
  '',
  '          4476.',
  'OCL code',
  'SHIKMONA',
  '\n'],
 ['Institute                   ',
  '',
  '          1188.',
  'NODC code',
  'SCIENTIFIC INFORMATION SYSTEMS FOR THE SEA (SISMER)',
  '\n'],
 ['probe_type                  ',
  '',
  '             7.',
  'OCL_code',
  'bottle/rosette/net',
  '\n'],
 ['Investigator       ',
  'Cruise PI',
  '           2486',
  'WOD code',
  'CHIAVERINI; JACQUES',
  '\n'],
 ['VARIABLES ',
  'Depth     ',
  'F',
  'O',
  'Temperatur ',
  'F',
  'O',
  'Salinity   ',
  'F',
  'O',
  'Oxygen     ',
  'F',
  'O',
  '',
  '\n'],
 ['UNITS     ',
  'm         ',
  ' ',
  ' ',
  'degrees C ',
  '',
  ' ',
  ' ',
  'PSS       ',
  '',
  ' ',
  ' ',
  'umol/kg   ',
  '',
  ' ',
  ' ',
  '',
  '\n'],
 ['Prof-Flag ',
  '          ',
  '0',
  ' ',
  '          ',
  '0',
  ' ',
  '          ',
  '0',
  ' ',
  '          ',
  '0',
  ' ',
  '',
  '\n'],
 ['         1',
  '       6.4',
  '0',
  ' ',
  '    27.532',
  '0',
  ' ',
  '    39.729',
  '0',
  ' ',
  '   192.158',
  '0',
  ' ',
  '\n'],
 ['         2',
  '      48.5',
  '0',
  ' ',
  '    19.426',
  '0',
  ' ',
  '    39.311',
  '0',
  ' ',
  '   241.898',
  '0',
  ' ',
  '\n'],
 ['         3',
  '      97.4',
  '0',
  ' ',
  '    16.829',
  '0',
  ' ',
  '    39.193',
  '0',
  ' ',
  '   228.088',
  '0',
  ' ',
  '\n'],
 ['         4',
  '     197.8',
  '0',
  ' ',
  '    15.555',
  '0',
  ' ',
  '    39.083',
  '0',
  ' ',
  '   208.518',
  '0',
  ' ',
  '\n'],
 ['         5',
  '     294.6',
  '0',
  ' ',
  '    14.412',
  '0',
  ' ',
  '    38.887',
  '0',
  ' ',
  '   182.629',
  '0',
  ' ',
  '\n'],
 ['         6',
  '     393.3',
  '0',
  ' ',
  '    13.903',
  '0',
  ' ',
  '    38.798',
  '0',
  ' ',
  '   175.229',
  '0',
  ' ',
  '\n'],
 ['         7',
  '     491.7',
  '0',
  ' ',
  '    13.746',
  '0',
  ' ',
  '    38.761',
  '0',
  ' ',
  '   174.359',
  '0',
  ' ',
  '\n'],
 ['         8',
  '     589.1',
  '0',
  ' ',
  '    13.659',
  '0',
  ' ',
  '    38.741',
  '0',
  ' ',
  '   175.139',
  '0',
  ' ',
  '\n'],
 ['         9',
  '     688.0',
  '0',
  ' ',
  '    13.611',
  '0',
  ' ',
  '    38.728',
  '0',
  ' ',
  '   173.489',
  '0',
  ' ',
  '\n'],
 ['        10',
  '     784.4',
  '0',
  ' ',
  '    13.581',
  '0',
  ' ',
  '    38.718',
  '0',
  ' ',
  '   174.069',
  '0',
  ' ',
  '\n'],
 ['        11',
  '     982.0',
  '0',
  ' ',
  '    13.550',
  '0',
  ' ',
  '    38.705',
  '0',
  ' ',
  '   175.049',
  '0',
  ' ',
  '\n'],
 ['        12',
  '    1175.6',
  '0',
  ' ',
  '    13.549',
  '0',
  ' ',
  '    38.698',
  '0',
  ' ',
  '   174.469',
  '0',
  ' ',
  '\n'],
 ['END OF VARIABLES SECTION', '\n']]

In [54]:
reading[30]

['        11',
 '     982.2',
 '0',
 ' ',
 '    13.555',
 '0',
 ' ',
 '    38.700',
 '0',
 ' ',
 '   181.099',
 '0',
 ' ',
 '\n']

In [56]:
reading[0]

['CAST                        ',
 '',
 '       11767003',
 'WOD Unique Cast Number',
 'WOD code',
 '\n']