<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/august_30_2024_intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

# this reads bitcoin prices from the internet address https://api.coindesk.com/v1/bpi/currentprice.json
# we downloaded that using !wget https://api.coindesk.com/v1/bpi/currentprice.json
# and then makes a pandas dataframe

df=pd.read_json('currentprice.json')

In [12]:
df.index

Index(['updated', 'updatedISO', 'updateduk', 'USD', 'GBP', 'EUR'], dtype='object')

In [13]:
df.columns

Index(['time', 'disclaimer', 'chartName', 'bpi'], dtype='object')

In [14]:
# here is the pandas dataframe.  it is a mess.  we can fix it the next time

# the price should be in columns and the index should be the currency and the date


df

,time,disclaimer,chartName,bpi
updated,"Aug 30, 2023 13:46:00 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2023-08-30T13:46:00+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Aug 30, 2023 at 14:46 BST",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '27..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."
EUR,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'EUR', 'symbol': '&euro;', 'rate': '2..."

In [18]:
# here we make two dictionaries walker and mumteha
# and we put them in a list called students


walker = {
    "name": "Walker",
    "city": "Paphos",
    "cell": 3579762904

}

mumteha = {
    "name": "Mumteha",
    "city": "Istanbul",
    "cell": 905335615004

}

students = [walker, mumteha]

In [23]:
# here we use Pandas dataframe.  So we make a dataframe from that list.  We Pandas because
# it's what you use in machine learning.  But it's also very useful and has lots of functions

df=pd.DataFrame(students)
df.set_index("cell", inplace=True)

In [25]:
df

                 name      city
cell
3579762904     Walker    Paphos
905335615004  Mumteha  Istanbul

In [30]:
# this is how chatgpt did it.  it's not too good as it loops through every row.
# I wanted it to use the .loc() function.


target_name = "Mumteha"

if target_name in df["name"].values:
    mumteha_details = df.loc[df["name"] == target_name].iloc[0]
    print("Student found:")
    print(f"Name: {mumteha_details['name']}")
    print(f"City: {mumteha_details['city']}")
    print(f"Cell: {mumteha_details.name}")
else:
    print(f"Student named '{target_name}' not found.")

Student found:
Name: Mumteha
City: Istanbul
Cell: 905335615004

In [33]:
# here look up the row based upon the column name

walkerDF=df.loc[df['name'] == "Walker"]
walkerDF

              name    city
cell
3579762904  Walker  Paphos

In [40]:
# here we look up the row based upon the index value.  the index is the cell phone number
# we don't have to give it the name, just the value

walkerDf=df.loc[3579762904]
walkerDf

name    Walker
city    Paphos
Name: 3579762904, dtype: object

In [ ]:
Homework:

get slack installed
get github.  send me your github link

find a sample .csv (comma separated values) file on the internet and create a Pandas dataframe from the csv file

install th edge browser and set your search engine to bing


you can use sample_data/california_housing_test.csv but it will be very large.

In [41]:
!ls sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md