<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/Daniylo-19_june_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import urllib.request



class Transaction:
    def __init__(self, date, amount):
        self.date = date
        self.amount = amount

class BankAccount:
    def __init__(self):
        self.transactions = []

    def addTrans(self, transaction):
        self.transactions.append(transaction)

# Create an instance of BankAccount
bankaccount = BankAccount()

currURL="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/assignment/transactions.csv"

# Assuming `currURL` contains the URL of the "transactions.csv" file

response = urllib.request.urlopen(currURL)
#OLD OUT OF DATE response = urllib.urlopen(currURL)
lines = response.readlines()

# Read each line and create transaction objects
for line in lines:
    # Split the line into date and amount using split()
    date, amount = line.decode('utf-8').strip().split(',')

    # Create a transaction object
    transaction = Transaction(date, amount)

    # Add the transaction to the account
    bankaccount.addTrans(transaction)

# Print each transaction
for i in range(len(bankaccount.transactions)):
    transaction = bankaccount.transactions[i]
    print(f"Transaction {i+1}: Amount: {transaction.amount}, Date: {transaction.date}")

Transaction 1: Amount: 400, Date: 7/21
Transaction 2: Amount: -350, Date: 6/23
Transaction 3: Amount: -25, Date: 4/16

In [22]:
import urllib.request

response = urllib.request.urlopen(currURL)
currURL="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/assignment/transactions.csv"

lines = response.readlines()

In [25]:
l

[b'7/21,400\r\n', b'6/23,-350\r\n', b'4/16,-25']

In [27]:
print("walker\r\nilia\r\njoaquim")

walker
ilia
joaquim

In [7]:
class Student:

  country = "Cyprus"

  #constructor
  def __init__(self, name):
    self.name = name

  def addAddress(self, city, district):
    self.city = city
    self.district = district


student=Student(name="joaquim")

In [10]:
student.name

student.addAddress("Paphos", "Paphos")

In [12]:
student.city
student.country

'Cyprus'

In [19]:


class BankAccount:

    transactions = []

    def __init__(self, accountNumber):
      self.accountNumber = accountNumber

    def addTransaction(self,date, amount):
      self.date = date
      self.amount = amount
      self.transactions.append([date, amount])

In [20]:
# it is an instance of the class BankAccount

bankAccount = BankAccount("123")

bankAccount.addTransaction("7/21", 400)


# [b'7/21,400\r\n', b'6/23,-350\r\n', b'4/16,-25']

In [28]:
bankAccount.addTransaction("7/21", 400)

In [29]:
bankAccount.transactions

[['7/20/2023', 100], ['7/21', 400]]

In [30]:
# Print each transaction
for i in bankAccount.transactions:
    print(i)

['7/20/2023', 100]
['7/21', 400]

In [31]:
lines

[b'7/21,400\r\n', b'6/23,-350\r\n', b'4/16,-25']

In [34]:
date, amount=line.decode('utf-8').split(",")

In [43]:
junk=['7/21,400\r\n', '6/23,-350\r\n', '4/16,-25']
junk[0].strip()

'7/21,400'