<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/july_21_2023_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# a set is a list on object.  it is unique.  you cannot have the same element in a set twice
# this is quite useful as we can rid up duplicates

s={3,4,5}
s.add(6)
print(s)


students={"Lika", "Kiril", "Daniylo", "Lika"}
print(students)

{3, 4, 5, 6}
{'Daniylo', 'Kiril', 'Lika'}

In [15]:
# pop means remove the first element on the left

s.pop()
print(s)

{4, 5, 6}

In [16]:
# you cannot address a particular element of a set [I am not sure about this]

# but a set is iterable just like a list is iterable

# so you can iterate over it

s = {1, 2, 3, 4, 5}


for element in s:
    print(element)

1
2
3
4
5

In [17]:
s1 = { 1, 2, 3, 4, 5}

s2 = {3, 4}

# intersection
# means elements that are common to both sets

print(s1.intersection(s2))

{3, 4}

In [18]:
girls = {"Lika", "Tamara"}
boys = {"Danyilo", "Kiril"}

# union means take two sets and put them together

students=girls.union(boys)

print(students)

{'Kiril', 'Danyilo', 'Lika', 'Tamara'}

In [11]:
# add an element to a set

s.add(8)
s

{2, 3, 4, 5, 8}

In [ ]:
'''
1. do sample test question 12

hint:  characters are sorted in alphabetical order, meaning first letter, second letter etc.

numbers are sorted by 10 < 12 naturally


2.  Look at this page https://realpython.com/python-sets/#available-operators-and-methods

3.  using that page write code to show that "walker" is not in the set students.  hint use "in'

4.  explain and give of an example of subtracting one set from another




'''