<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
family = ["Ben", "Olivia", "Sam"]
family

['Ben', 'Olivia', 'Sam']

In [ ]:
family[0]
len(family)

3

In [ ]:
# the items in a list you refer to by a number called the index
# the index starts at 0

# so in family family[0] is "ben".  family[2] is "sam"

In [6]:
# we can loop through the items in a list and print the value and the index

for index in family:
  print(index)
  #print(index, family[index])

Ben
Olivia
Sam

In [8]:
for index in range(3):
  print(index, family[index])

0 Ben
1 Olivia
2 Sam

In [11]:
index=0

family[index]

'Ben'

In [12]:
type(family)

list

so what did we learn?

1. how to make a list
2.  how to print the first item in a list
3.  how to print all the items in a list
4.  how to use the range function to print all the items in a list