<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/sept_15_2023_datatypes_math_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# in some languages
# you have to tell the computer what kind of data type a variable is
# in python you do not


# integer, whole numbers, natural numbers when > 0

x=-1
print("x=",x)
print("what kind of data type is x ", type(x))

print("========================")

# real number.  or decimal number.  in a computer it is called a floating point number


# that means create a variable called f and put the value 2.5 in it

f=2.5
print(f)
print("what kind of data type is x ", type(f))


print(f+2.5)

print("the sum of 2.5 and 2.5 =", f + 2.5)

x= -1
what kind of data type is x  <class 'int'>
========================
2.5
what kind of data type is x  <class 'float'>
5.0
the sum of 2.5 and 2.5 = 5.0

In [13]:
x=2
y=3

print(y/x)

1.5

In [15]:
# boolean because invented George Boole


t=True
f=False

print(t,f)

True False

In [16]:
# logical statement

if t == True:
  print("t is true")


# a logical statement is:

# is something is true

# then do something else

if t:
   print("t is true")

t is true

In [18]:
# this means put a 2 in x

x=2


#. ==. double equal signs tests whether something is true

x==2

True

In [20]:
# this asks the question is 2 equal to 3.  of course it's not

2==3

False

In [7]:


print(3/2)

print(type(3/2))


# not possible to put actual real numbers in the computer.  why?  because the go on for ever
# so we approximate them

#. 3.3333333333333333333333333333333333333333333333333333333333333333333333333333333

1.5
<class 'float'>

In [21]:
import math

2*3
math.prod([2,3])

# the computer has functions.  those are designed to do something useful

# when we say "import math" that means we want to use the Python math package

# a function takes an argument and returns a value

# f(x)=2*x

#. that means take x and multiply by 2

6

In [23]:
# how do you do division

3 / 2

1.5

In [25]:
# this is an exponent.  it says calculate 2 squared


2**2

2*2

4

In [28]:
# this is 2 cubed

print(2**3)

print(2*2*2)

# are these things equal?


# is 8 equal to 8

(2**3)==(2*2*2)

# is 8 equal to 8
8==8

8
8

False

In [29]:
type(8==8)


f=False
t=True

bool

In [31]:
print(3+2)

print(4-3)

# if you do not tell Python to print something.  It will print only the results of the last statement

5
1

In [32]:
'''

homework

do this in Python

create variables x, y , and z

make x equal 3

make y equal 3

make z equal 1

print x times y times z

print x plus y plus z

'''

6