In [215]:

from datetime import date
from datetime import datetime
import time
import pandas as pd
import numpy as np

def toDate(epoch_time):
    return datetime.fromtimestamp(epoch_time)

def calculate_heat_index(temperature, relative_humidity):
    heat_index = int((-8.784695 +
                  1.61139411 * temperature +
                  (2.338549 * relative_humidity) +
                  (-0.14611605 * temperature * relative_humidity) +
                  (-0.01230809 * (temperature ** 2)) +
                  (-0.01642482 * (relative_humidity ** 2)) +
                  (0.00221173 * (temperature ** 2) * relative_humidity) +
                  (0.00072546 * temperature * (relative_humidity ** 2)) +
                  (-0.000003582 * (temperature ** 2) * (relative_humidity ** 2))))
    return heat_index

In [216]:
import pandas as pd

df=pd.read_json('/Users/walkerrowe/Documents/hypatia/paphosWeatherFiveYearsThroughJuly.json')

df['dt'].map(toDate)

0       2013-07-31 03:00:00
1       2013-07-31 04:00:00
2       2013-07-31 05:00:00
3       2013-07-31 06:00:00
4       2013-07-31 07:00:00
                ...
87667   2023-07-31 22:00:00
87668   2023-07-31 23:00:00
87669   2023-08-01 00:00:00
87670   2023-08-01 01:00:00
87671   2023-08-01 02:00:00
Name: dt, Length: 87672, dtype: datetime64[ns]

In [217]:
df['month']=df['dt'].map(lambda l: toDate(l).strftime("%m"))
df['day']=df['dt'].map(lambda l: toDate(l).strftime("%d"))
df['year']=df['dt'].map(lambda l: toDate(l).strftime("%y"))
df['hour']=df['dt'].map(lambda l: toDate(l).strftime("%H"))
 
df['temp']=df["main"].map(lambda x: int(x["temp"]))
df['temp_min']=df["main"].map(lambda x: int(x["temp_min"]) )
df['temp_max']=df["main"].map(lambda x: int(x["temp_max"]) )
df['humidity']=df["main"].map(lambda x: int(x["humidity"]))

df['heatIndex'] = df.apply(lambda row: calculate_heat_index(row['temp'], row['humidity']), axis=1)
#df.set_index("dt_iso",inplace=True)

target=df[['year','month','day', 'hour' ,'temp','temp_min','temp_max', 'humidity', 'heatIndex']]

In [218]:
july=target.loc[target['month'].isin(['07'])]

In [219]:
years=target.groupby(['year'])
average_colums=years[['temp','temp_min','temp_max','humidity','heatIndex']]
average_colums.mean().round(0).astype(int).sort_values(by='temp_max',ascending=False)

      temp  temp_min  temp_max  humidity  heatIndex
year
13      21        19        23        62         26
18      20        18        22        72         25
14      20        18        21        71         25
15      19        18        21        70         26
16      20        18        21        70         26
17      19        17        21        71         26
21      20        18        21        64         26
22      19        18        21        66         26
19      19        18        20        69         26
20      19        18        20        69         26
23      18        16        20        65         26

In [220]:
hottest=target.loc[target['temp_max'].isin(['31','32'])]